body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 90%; /* Garante que o container não exceda 90% da tela em dispositivos pequenos */
  text-align: center; /* Centraliza o conteúdo do container */
}

h1 {
  margin-bottom: 20px;
  color: #4285f4;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
}

.button-google,
.button-email {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none; /* Remove sublinhado do link */
}

.button-google {
  background-color: #4285f4;
}

.button-email {
  background-color: #34a853;
}

.link-register {
  margin-top: 20px;
}

.link-register a {
  color: #4285f4;
  text-decoration: none;
}

.link-register a:hover {
  text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 480px) {
  .container {
    width: 90%; /* Mantém a largura do container em 90% da tela */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajusta a sombra do container */
  }

  h1 {
    font-size: 20px; /* Reduz o tamanho da fonte do título em telas menores */
  }

  .button-google,
  .button-email {
    font-size: 14px; /* Reduz o tamanho da fonte dos botões */
    padding: 8px; /* Ajusta o padding dos botões para telas menores */
  }

  .link-register a {
    font-size: 14px; /* Ajusta o tamanho da fonte do link */
  }
}
