body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center; /* Centraliza o conteúdo do container */
}
h1 {
  margin-bottom: 20px;
  color: #4285f4;
  font-size: 24px;
  font-weight: bold;
}
h2 {
  margin-bottom: 20px;
}
.button-google,
.button-email {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none; /* Remove sublinhado do link */
}
.button-google {
  background-color: #4285f4;
}
.button-email {
  background-color: #34a853;
}
.link-register {
  margin-top: 20px;
}
.link-register a {
  color: #4285f4;
  text-decoration: none;
}
.link-register a:hover {
  text-decoration: underline;
}
